

body { background: #54162e !important; }
.footer { background: #54162e !important; }

.navbar-inverse {
    background-color: #54162e;
    border-color: #080808;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #32121e !important;
}
